p {
  font-family: Georgia;
  margin: 2em;
  left:50%;
  transform: translateX(-45%) translateY(60%);
}





.container {
position: absolute;
top: 10%;
left: 50%;
transform: translateX(-50%) translateY(120%);

}



li {
  display: inline-block;
}

li a{
  text-decoration: none;
  display: inline-block;
  color: #808080;
  font-family: Georgia Black;
  font-weight: lighter;
  font-size: 20px;
  padding: 0 10px;
}
.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #808080;
  transition: width .3s
}

.cool-link:hover::after {
  width: 100%;
  transition; width .3s;
}


.artdeli1 {
  display: block;
  margin-left: 43%;
  margin-right: auto;
  margin-top: 80px;
}
.artdeli2 {
  display: block;
  margin-left: 43%;
  margin-right: auto;
  margin-top: 80px;
}

.artdeli3 {
  display: block;
  margin-left: 43%;
  margin-right: auto;
  margin-top: 80px;
}