/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  
}

h1 {
  font-style: italic;
  color: #373fff;
}
table, th, td {
  border: 10px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 30px;
  text-align: left;    
}

body{
  background-color;rbg(0,0,)
}
