body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'PT Sans';
}


@media only screen and (max-width: 600px) {

div.box {
     display: none;
  }
}


p {
  font-family: 'Lora';
  margin: 2em;
}

.container {
position: absolute;
top: 100%;
left: 50%;
transform: translateX(-55%) translateY(0%);

}

.indexnews {
position: absolute;
top: 200%;
left: 30%;
transform: translateX(-50%) translateY(0%);
}

.indexart {
position: absolute;
top: 320%;
left: 50%;
transform: translateX(-50%) translateY(0%);
}

.indexabout {
position: absolute;
top: 260%;
left: 68%;
transform: translateX(-50%) translateY(0%);
}

.imgone {
  display: block;
  margin-left: 105%;
  margin-right: auto;
  margin-top: -200px;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.imgtwo {
  display: block;
  margin-left: -97%;
  margin-right: auto;
  margin-top: -200px;
  
}

li {
  display: inline-block;
}

li a{
  transform: translateY(250%);
  text-decoration: none;
  display: inline-block;
  color: white;
  font-family: Georgia Black;
  font-weight: lighter;
  font-size: 20px;
  padding: 0 10px;
}

.menu li:hover a {
  color: black;
  
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .3s
}

.cool-link:hover::after {
  width: 100%;
  transition; width .3s;
}



.buttoningss {
  background-color: #ffffff;
  border: none;
  color: black;
  font-family: Georgia;
  padding: 10px;
  text-align: center;
  transform: translateX(235%) translateY(-470%);
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.buttoningsss {
  background-color: #ffffff;
  border: none;
  color: black;
  font-family: Georgia;
  padding: 10px;
  text-align: center;
  transform: translateX(150%) translateY(-30%);
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

button
{
  align: center;
  padding: 10px;
  transform: translateX(322%);
  background-color: #454545;
  border-color: #fff;
  color: white;

}





.arrow
{
  position: relative;
  bottom: -2rem;
  left: 50%;
  top: 70%;
  z-index: 2;
  margin-left:-20px;
  width: 60px;
  height: 60px;
  

 
background-image: url("https://cdn.glitch.com/89bebd75-9266-43eb-a860-078a6c5c0bf5%2Fdown-arrow.svg?v=1608193451070");
background-size: contain;
  
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


.waves {
  position: relative;
  width: 250vh;
  height: 4vh;
  margin-bottom: -47%;
  z-index: 1;
  min-height: 150px;
  max-height: 200px;
}
.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}
/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

#hero{
  width: 100%;
  height: 100vh;
  background-image: url("https://cdn.glitch.com/89bebd75-9266-43eb-a860-078a6c5c0bf5%2FSalvador_Dali_A_(Dali_Atomicus)_09633u.jpg?v=1608056375345");
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
    overflow:hidden;
}

.containeradv{
  width: 50%;
  height: 100vh;
  background: rgba(86,86,86,0,3);
  backdrop-filter: blur(15px);
  position: absolute;
  left: 0%;
  top: 0%;
}

.proslider{
  display: flex;
  align-items: center;
  position: absolute;
  right: 30px;
  bottom: 200px;
}

#prev, #next{
  width: 20px;
  cursor: pointer;
}

.preview{
  display:flex;
  align-items: center;
  margin: 0 60px;
}

.preview img{
  width: 120px;
  margin: 0 10px;
  opacity: 0.4px;
}

.preview .active{
  display: block;
  border: 3px solid #fff;
  width: 150px;
  opacity: 1;
}
.btn-one {
color: #FFFFFF;
transition: all 0.3s;
text-decoration: none;
position: relative;
padding: 10px 15px;
top: 440px;
left: 120px;
}
.btn-one span {
transition: all 0.3s;
}
.btn-one::before {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
transition: all 0.3s;
border-top-width: 1px;
border-bottom-width: 1px;
border-top-style: solid;
border-bottom-style: solid;
border-top-color: rgba(255,255,255,0.5);
border-bottom-color: rgba(255,255,255,0.5);
transform: scale(0.1, 1);
}
.btn-one:hover span {
letter-spacing: 2px;
}
.btn-one:hover::before {
opacity: 1;
transform: scale(1, 1);
}
.btn-one::after {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
transition: all 0.3s;
background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
opacity: 0;
transform: scale(0.1, 1);
}

.btn-two {
color: #FFFFFF;
transition: all 0.3s;
text-decoration: none;
position: relative;
padding: 10px 15px;
transform: translateX(125%) translateY(-1070%);
display: inline-block;
top: 440px;
left: 120px;
}
.btn-two span {
transition: all 0.3s;
}
.btn-two::before {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
transition: all 0.3s;
border-top-width: 1px;
border-bottom-width: 1px;
border-top-style: solid;
border-bottom-style: solid;
border-top-color: rgba(255,255,255,0.5);
border-bottom-color: rgba(255,255,255,0.5);
transform: scale(0.1, 1);
}
.btn-two:hover span {
letter-spacing: 2px;
}
.btn-two:hover::before {
opacity: 1;
transform: scale(1, 1);
}
.btn-two::after {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
transition: all 0.3s;
background-color: rgba(255,255,255,0.1);
}
.btn-two:hover::after {
opacity: 0;
transform: scale(0.1, 1);
}

.btn-three {
color: #FFFFFF;
transition: all 0.3s;
text-decoration: none;
position: relative;
padding: 10px 15px;
top: -180px;
left: 240px;
}
.btn-three span {
transition: all 0.3s;
}
.btn-three::before {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
transition: all 0.3s;
border-top-width: 1px;
border-bottom-width: 1px;
border-top-style: solid;
border-bottom-style: solid;
border-top-color: rgba(255,255,255,0.5);
border-bottom-color: rgba(255,255,255,0.5);
transform: scale(0.1, 1);
}
.btn-three:hover span {
letter-spacing: 2px;
}
.btn-three:hover::before {
opacity: 1;
transform: scale(1, 1);
}
.btn-three::after {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
transition: all 0.3s;
background-color: rgba(255,255,255,0.1);
}
.btn-three:hover::after {
opacity: 0;
transform: scale(0.1, 1);
}


.btn-four {
color: #FFFFFF;
transition: all 0.3s;
text-decoration: none;
position: relative;
padding: 10px 15px;
top: 10px;
left: 315px;
}
.btn-four span {
transition: all 0.3s;
}
.btn-four::before {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
transition: all 0.3s;
border-top-width: 1px;
border-bottom-width: 1px;
border-top-style: solid;
border-bottom-style: solid;
border-top-color: rgba(255,255,255,0.5);
border-bottom-color: rgba(255,255,255,0.5);
transform: scale(0.1, 1);
}
.btn-four:hover span {
letter-spacing: 2px;
}
.btn-four:hover::before {
opacity: 1;
transform: scale(1, 1);
}
.btn-four::after {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
transition: all 0.3s;
background-color: rgba(255,255,255,0.1);
}
.btn-four:hover::after {
opacity: 0;
transform: scale(0.1, 1);
}

.box {
  position: relative;
  display: inline-block;
  width: 900px;
  height: 300px;
  overflow: hidden;
  top: 170px;
  left: 20%;
  background-color: #454545;
  border-radius: 5px;
  outline: 2px dashed white;       
}
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow: hidden;
}


.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.10, 1.10);
}

.box:hover::after {
    opacity: 1;
}

.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  transform: translateX(16%) translateY(130%);
  color: #FFFFFF;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #FFFFFF;
  transform-origin: 0.5 0;
}


.ml5 .letters {
  display: inline-block;
  opacity: 0;
}
/*the code for the slideshow starts from here.*/
* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

